button {
    border: none;
    background-color: rgb(218, 255, 116);
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(187, 255, 0);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #FBAF35;
  }
  
  .equals:hover {
    background-color: #ff9d00;
  }